.gradle
local.properties

/android/app/.idea
/android/app/app/.cxx

**/.idea/workspace.xml 
**/.idea/jarRepositories.xml
**/.idea/uiDesigner.xml
**/.idea/description.xml
**/.idea/vcs.xml
**/.idea/tasks.xml
**/.idea/compiler.xml
**/.idea/androidTestResultsUserPreferences.xml
apps/salmon-vault-javafx/app/dist
build

**/output/
.cxx

*.pyc

*.pro
*.filters
*.user
*.licenseheader
out
.vs
bin
obj
packages
Debug
Release

Resource.designer.cs

inspectionProfiles
deploymentTargetDropDown.xml
node_modules
.DS_Store
DerivedData
project.xcworkspace
xcuserdata
*.o
*.so
*.tar.gz
/javafx/project/libs
*.dll
*.exe
node_modules

js/src/assets/js
js/project/app_package

*.log