[submodule "deps/WebGPULogger"]
	path = libs/WebGPULogger
	url = https://github.com/mku11/WebGPULogger.git
[submodule "deps/jbind"]
	path = deps/jbind
	url = https://github.com/mku11/jbind.git
[submodule "deps/jwin"]
	path = deps/jwin
	url = https://github.com/mku11/jwin.git
[submodule "deps/SimpleIO"]
	path = deps/SimpleIO
	url = https://github.com/mku11/SimpleIO.git
[submodule "deps/SimpleFS"]
	path = deps/SimpleFS
	url = https://github.com/mku11/SimpleFS.git
