.text-editor-text {
  min-width: 400pt;
  min-height: 300pt;
  max-width: 800pt;
  max-height: 600pt;
}

.search-button-layout {
  float: right;
  vertical-align: middle;
  padding: 4pt;
  height: 100%;
}

.search-button-text {
  vertical-align: middle;
  background-color: black;
  color: white;
  font-size: 12pt;
}

.search-button {
  vertical-align: middle;
  background-color: black;
}

.search-text {
  vertical-align: middle;
}

.text-editor-status-container {
  float: right;
  vertical-align: middle;
  height: 100%;
}

.text-editor-status {
  vertical-align: middle;
  font-size: 12pt;
}